annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
async-timeout==5.0.1
asyncpg==0.31.0
bcrypt==3.2.2
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.1.8
cryptography==48.0.0
deprecation==2.1.0
dnspython==2.7.0
ecdsa==0.19.2
email-validator==2.3.0
exceptiongroup==1.3.1
fastapi==0.128.8
fastapi-cli==0.0.22
greenlet==3.2.5
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
hyperframe==6.1.0
idna==3.18
iniconfig==2.1.0
-e file:///Users/sagarnewpane/Documents/LLM-SC/api
markdown-it-py==3.0.0
mdurl==0.1.2
multidict==6.7.1
packaging==26.2
passlib==1.7.4
pip==21.2.4
pluggy==1.6.0
postgrest==2.31.0
propcache==0.4.1
pyasn1==0.6.3
pycparser==2.23
pydantic==2.13.4
pydantic-core==2.46.4
pydantic-settings==2.11.0
pygments==2.20.0
pyjwt==2.13.0
pytest==8.4.2
python-dotenv==1.2.1
python-jose==3.5.0
python-multipart==0.0.20
pyyaml==6.0.3
realtime==2.31.0
requests==2.32.5
rich==15.0.0
rich-toolkit==0.20.1
rsa==4.9.1
setuptools==58.0.4
shellingham==1.5.4
six==1.17.0
sqlalchemy==2.0.50
sqlmodel==0.0.34
starlette==0.49.3
storage3==2.31.0
strenum==0.4.15
supabase==2.31.0
supabase-auth==2.31.0
supabase-functions==2.31.0
tomli==2.4.1
typer==0.23.2
typing-extensions==4.15.0
typing-inspection==0.4.2
urllib3==2.6.3
uvicorn==0.39.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==15.0.1
yarl==1.22.0
